{% macro categoryList(categories) %}
  <ul>
    {% for category in categories %}
      <li>
        <a href="{{ category.link }}">
          {{ category.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

<article>
  <h1>{{ articleTitle }}</h1>

  <div>categories (desired):</div>
  {{ categoryList(categories=articleCategories) }}

  <hr>

  <div>categories (workaround 1):</div>
  {{ categoryList(categories=articleCategories_workaround_1()) }}

  <hr>

  <div>categories  (workaround 2):</div>
  {{ categoryList(categories=articleCategories_workaround_2) }}

  <div>
    {{ articleContent() | safe }}
  </div>
</article>